@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes validation-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition-menu {
  0% {
    margin-top: 10%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

.header {
  height: 65px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  font-family: "shrikhand", cursive;
}
.header__arrow-back {
  left: 25px;
  position: absolute;
  font-size: 25px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  color: #353535;
  height: 50px;
}
.location__city {
  margin-left: 15px;
}

.hero {
  background: #f7f7f7;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px 0;
}
.hero h2 {
  text-align: center;
  max-width: 250px;
}
.hero p {
  text-align: center;
  max-width: 300px;
  color: #353535;
  padding-top: 25px;
}
.hero__button p {
  margin: 35px 0 20px;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
  background-image: linear-gradient(#ef74da, #a05adc);
  transition: 0.6s;
}
.hero__button p:hover {
  opacity: 0.8;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5);
}

/***************** functioning section *****************/
.functioning-section {
  background: white;
}

.functioning {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.functioning__items {
  display: flex;
  flex-direction: column;
}
.functioning__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background: #f7f7f7;
  margin: 10px;
  height: 75px;
  position: relative;
  left: 3px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.6s;
}
.functioning__item:hover {
  background: #f5edff;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5);
}
.functioning__item:hover i {
  color: #9356DC;
}
.functioning__number {
  position: absolute;
  background: #9356DC;
  padding: 4px 8px;
  border-radius: 50%;
  left: -12px;
  color: white;
}
.functioning__icon {
  margin: 0 25px;
}
.functioning i {
  color: #7e7e7e;
}

/***************** restaurant section *****************/
.restaurant-section {
  background: #f7f7f7;
  padding: 50px 0;
}
.restaurant-section__title {
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.restaurant__cards {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-radius: 30px;
  position: relative;
  margin: 10px 0;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
}

.restaurant__card-cover {
  height: 175px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  background: green;
}
.restaurant__card-cover img {
  width: 100%;
  object-fit: cover;
}

.restaurant__card-new {
  position: absolute;
  right: 10px;
  margin-top: 15px;
}
.restaurant__card-new p {
  background: #99E2D0;
  color: #008766;
  padding: 10px;
}

.restaurant__description {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
  border-radius: 0 0 20px 20px;
}

.restaurant__description-info {
  display: flex;
  flex-direction: column;
}

.restaurant__description-heart {
  padding-right: 15px;
  position: relative;
  font-size: 1.5rem;
}
.restaurant__description-heart .fa-regular {
  position: absolute;
}
.restaurant__description-heart .fa-solid {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurant__description-heart .fa-solid:hover {
  background-image: linear-gradient(#ef74da, #a05adc);
}

/***************** menu section *****************/
.menu-cover img {
  width: 100%;
  position: relative;
}

.image-cover {
  z-index: -1;
  object-fit: cover;
  height: 100%;
}

#menu {
  width: 100%;
  background: #f7f7f7;
  border-radius: 30px 30px 0 0;
  margin-top: -45px;
}

.menu {
  width: 90%;
  margin: auto;
}
.menu__header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu__header h2 {
  font-family: "shrikhand", cursive;
  font-size: 1.7rem;
}
.menu__header__heart {
  padding-right: 15px;
  position: relative;
  font-size: 1.5rem;
}
.menu__header__heart .fa-regular {
  position: absolute;
}
.menu__header__heart .fa-solid {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu__header__heart .fa-solid:hover {
  background-image: linear-gradient(#ef74da, #a05adc);
}

.menu__grid__case {
  background: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  animation: apparition-menu 1.5s;
  animation-fill-mode: both;
}
.menu__grid__case:nth-child(1) {
  animation-delay: 0.2s;
}
.menu__grid__case:nth-child(2) {
  animation-delay: 0.4s;
}
.menu__grid__case:nth-child(3) {
  animation-delay: 0.6s;
}
.menu__grid__case:nth-child(4) {
  animation-delay: 0.8s;
}
.menu__grid__case:hover .menu-validation {
  margin-right: 0rem;
  transition: 0.6s;
}
.menu__grid__case:hover i {
  animation: validation-spin 0.6s;
}
.menu__grid__title {
  text-transform: uppercase;
  margin-bottom: 22px;
}
.menu__grid__title:after {
  content: "";
  background: #99E2D0;
  height: 3px;
  position: absolute;
  width: 50px;
  transform: translateY(5px);
}
.menu__grid__title h3 {
  font-weight: 300;
}

.menu-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 20px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-description__dish {
  overflow: hidden;
}
.menu-description__dish h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.menu-description__dish p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  padding-top: 5px;
}
.menu-description__price {
  display: flex;
  align-items: flex-end;
  margin-left: 1rem;
  font-weight: bold;
}

.menu-validation {
  background: #99E2D0;
  right: 0;
  height: 100%;
  width: 60px;
  padding: 31px 0;
  display: flex;
  justify-content: center;
  margin-right: -4rem;
  font-size: 1.4rem;
  color: white;
}

.menu__button-order {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button-order .menu__button {
  margin: 40px;
  background-image: linear-gradient(#ef74da, #a05adc);
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
  cursor: pointer;
  border-radius: 100px;
  color: white;
  padding: 20px;
  padding: 20px 45px;
}
.menu__button-order .menu__button:hover {
  opacity: 0.8;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  background: #353535;
  height: 200px;
  color: white;
}
.footer__item {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}
.footer a {
  color: white;
}

.footer__item-links {
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 25px 0;
}

.footer__item-link {
  display: flex;
  padding-bottom: 5px;
}
.footer__item-link i {
  padding-right: 10px;
  width: 27px;
}

/*# sourceMappingURL=style.css.map */
