.footer {
  background: $colour-footer;
  color: white;
  &__item {
    display: flex;
    flex-direction: column;
    // padding: 25px 15px;
    width: 95%;
    max-width: 1200px;
    margin: auto;
    @media (max-width: 992px) {
        width: 95%;
      }
      @media (max-width: 768px) {
        width: 90%;
      }
  }
  a {
    color: white;
  }
}

.footer__item-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1%;
  margin-bottom: 2rem;
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    place-items: start;
  }
}

.logo {
  padding: 25px 0;
}

.footer__item-link {
  display: flex;
  padding-bottom: 5px;
  i {
    padding-right: 10px;
    width: 27px;
  }
}
