.location {
  @include df-jcc-aic;
  background: #eaeaea;
  color: #353535;
  height: 50px;
  &__city {
    margin-left: 15px;
  }
}

.hero {
  background: #f7f7f7;
  &__container {
    @include df-jcc-aic-fdirection-col;
    padding: 45px 0;
  }
  h2 {
    text-align: center;
    max-width: 250px;
  }
  p {
    text-align: center;
    max-width: 300px;
    color: #353535;
    padding-top: 25px;
  }
  &__button {
    p {
      margin: 35px 0 20px;
      cursor: pointer;
      border-radius: 100px;
      box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
      color: white;
      padding: 20px;
      background-image: linear-gradient(#ef74da, #a05adc);
      transition: 0.6s;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/***************** functioning section *****************/
.functioning-section {
  background: white;
}

.functioning {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
  @media (max-width: 992px) {
    width: 90%;
    margin: auto;
    // gap: 3%;
  }
  @media (max-width: 768px) {
    width: 90%;
    margin: auto;
    gap: 3%;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    @media (max-width: 992px) {
      width: 100%;
      margin: auto;
      gap: 2%;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      width: 100%;
      gap: 3%;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    background: #f7f7f7;
    margin: 10px;
    height: 75px;
    position: relative;
    left: 3px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.6s;

    &:hover {
      background: $hover-btn;
      box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5);
      i {
        color: $colour-primary;
      }
    }
  }
  &__number {
    position: absolute;
    background: $colour-primary;
    padding: 4px 8px;
    border-radius: 50%;
    left: -12px;
    color: white;
  }
  &__icon {
    margin: 0 25px;
  }
  i {
    color: $icon-grey;
  }
}

/***************** restaurant section *****************/
.restau {
  background: $grey-light;
}
.restaurant-section {
  // width: 60%;
  max-width: 900px;
  margin: auto;
  padding: 50px 0;
  &__title {
    width: 90%;
    margin: auto;
    padding: 10px 0;
  }
  @media (max-width: 992px) {
    width: 90%;
    margin: auto;
    // gap: 3%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.restaurant__cards {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 3%;
    display: block;
  }
}

.restaurant__card {
  height: 250px;
  border-radius: 30px;
  position: relative;
  margin: 0.5rem 0;
  // display: block;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2);
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;
    display: block;
  }
}

.restaurant__card-cover {
  height: 175px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.restaurant__card-new {
  position: absolute;
  right: 10px;
  margin-top: 15px;
  p {
    background: $colour-tertiary;
    color: #008766;
    padding: 10px;
  }
}

.restaurant__description {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
  border-radius: 0 0 20px 20px;
}

.restaurant__description-info {
  display: flex;
  flex-direction: column;
}

.restaurant__description-heart {
  @include heart-hover;
}

/***************** menu section *****************/
.menu-cover {
  img {
    width: 100%;
    position: relative;
  }
}

.image-cover {
  z-index: -1;
  object-fit: cover;
  height: 50vh;
  @media (max-width: 992px) {
    height: 40vh;
  }
  @media (max-width: 768px) {
    height: 32vh;
  }
}

#menu {
  width: 100%;
  background: $grey-light;
  border-radius: 30px 30px 0 0;
  margin-top: -45px;
}

.menu {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  &__header {
    padding: 40px 0;
    @include df-jcsb-aic;
    position: relative;
    h2 {
      font-family: "shrikhand", cursive;
      font-size: 1.7rem;
    }
    &__heart {
      display: flex;
      align-items: center;
      @include heart-hover;
    }
  }
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: flex-start;
  gap: 2%;
  max-width: 1200px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  &__bloc {
    min-width: 225px;
    width: 100%;
  }
  &__case {
    background: white;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: apparition-menu 1.5s;
    animation-fill-mode: both;
    @for $i from 1 through $number-cases {
      &:nth-child(#{$i}) {
        animation-delay: 0.2s * $i;
      }
    }
    &:hover {
      .menu-validation {
        margin-right: 0rem;
        transition: 0.6s;
      }
      i {
        animation: validation-spin 0.6s;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 22px;
    &:after {
      content: "";
      background: $colour-tertiary;
      height: 3px;
      position: absolute;
      width: 50px;
      transform: translateY(5px);
    }
    h3 {
      font-weight: 300;
    }
  }
}

.menu-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 20px 10px;
  @include ellipsis;
  &__dish {
    overflow: hidden;
    h4 {
      @include ellipsis;
      font-weight: bold;
    }
    p {
      @include ellipsis;
      font-weight: 300;
      padding-top: 5px;
    }
  }
  &__price {
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    font-weight: bold;
  }
}

.menu-validation {
  background: $colour-tertiary;
  right: 0;
  height: 100%;
  width: 60px;
  padding: 31px 0;
  display: flex;
  justify-content: center;
  margin-right: -4rem;
  font-size: 1.4rem;
  color: white;
  transition: 0.6s;
}

.menu__button-order {
  @include df-jcc-aic;
  .menu__button {
    margin: 40px;
    @include button-gradient;
    padding: 20px 45px;
  }
}
